<launch>
  <!-- LIDAR nodes -->
  <node pkg="urg_node" type="urg_node" name="lidar_front">
    <param name="ip_address" value="192.168.2.15"/>
    <remap from="scan" to="scan_front"/>
  </node>
  <node pkg="urg_node" type="urg_node" name="lidar_back">
    <param name="ip_address" value="192.168.3.15"/>
    <remap from="scan" to="scan_back"/>
  </node>

  <!-- Teleop Twist Keyboard -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>

  <!-- VESC nodes -->
  <rosparam>
    speed_to_erpm_gain: 4614
    speed_to_erpm_offset: 0.0
    steering_angle_to_servo_gain: -1.2135
    steering_angle_to_servo_offset: 0.5304
    wheelbase: .25
    vesc_to_odom/publish_tf: true
    vesc_driver/port: /dev/vesc
  </rosparam>
  <node pkg="vesc_driver" type="vesc_driver_node" name="vesc_driver"/>
  <node pkg="vesc_ackermann" type="vesc_to_odom_node" name="vesc_to_odom"/>
  <node pkg="oscar" type="twist_to_vesc.py" name="twist_to_vesc"/>

  <!-- Static TF Publisher -->
<!--
  <node pkg="tf" type="static_transform_publisher" name="static_tf0" args="1 0 0 0 0 0 /world /map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="base_frame_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_frame /laser 10"/>
-->

</launch>
